<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Individual Customer Coupon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="Themesdesign" name="author">

        <!-- Responsive datatable examples -->
        <link href="../static/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">   

        <!-- Bootstrap Css -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Icons Css -->
        <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css">

        <!-- App Css-->
        <link href="../static/css/app.min.css" rel="stylesheet" type="text/css">

        <!-- DataTables -->
        <link href="../static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <link href="../static/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">

        

        




        


    </head>


    <body data-topbar="colored" onload="timenow()">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="mdi mdi-backburger"></i>
                        </button>

                        
                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ml-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0" aria-labelledby="page-header-search-dropdown">
                    
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            
                        

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-sm-inline-block ml-1">Smith</span>
                                <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-credit-card-outline font-size-16 align-middle mr-1"></i> Billing</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-account-settings font-size-16 align-middle mr-1"></i> Settings</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-lock font-size-16 align-middle mr-1"></i> Lock screen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
                            </div>
                        </div>
            
                    </div>
                </div>

            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar="" class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <div class="d-inline-block icons-sm mr-1"><i class="uim uim-table"></i></div>
                                    <span>Rent Records</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/rent_record">Rent Records</a></li>
                                    <li><a href="/create_rent_record">Create Rent Record</a></li>
                                </ul>
                            </li>



                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <div class="d-inline-block icons-sm mr-1"><i class="uim uim-vector-square"></i></div>
                                    <span>Vehicle</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/vehicle">Vehicle</a></li>
                                    <li><a href="/vehicle_class">Vehicle Class</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <div class="d-inline-block icons-sm mr-1"><i class="uim uim-chart-pie"></i></div>
                                    <span>Coupon</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="">Indi Customer Coupon</a></li>
                                    <li><a href="/corp_coupon">Corp Customer Coupon</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">

                    <!-- Page-Title -->
                    <div class="page-title-box">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h4 class="page-title mb-1">Individual Customer Coupon</h4> 
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right d-none d-md-block">
                                        <div class="dropdown">
                                            <button class="btn btn-light btn-rounded dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-settings-outline mr-1"></i> Settings
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="page-content-wrapper">
                        <div class="container-fluid">
                            
            
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="button-items">
                                                <button type="button" id="show" class="btn btn-primary btn-rounded waves-effect waves-light">Show all</button>
    
                                                <button type="button" id="expired" class="btn btn-danger btn-rounded waves-effect waves-light">Show Expired</button>
            
                                                <button type="button" id="active" class="btn btn-success btn-rounded waves-effect waves-light">Show Active</button>

                                                <button type="button" id="inactive" class="btn btn-warning btn-rounded waves-effect waves-light">Show Inactive</button>
                                            </div>
                                            <p> <br/> </p>
                                            <table id="couponTable" class="table table-striped table-bordered dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>Indi Coupon ID</th>
                                                    <th>Discount Rate</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Customer Lic. ID</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
            
            
                                                
                                            </table>

                                            <!-- new class Modal -->
                                            <div class="modal fade" id="addcouponModal" tabindex="-1" role="dialog" aria-labelledby="addcouponModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="addcouponModalLabel">Add New Coupon</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="add_modal_form">
                                                        <div class="form-group row align-items-end">
                                                            <label for="new_indi_coupon_id" class="col-md-3 col-form-label">Indi Coupon ID</label>
                                                            <div class="col-md-9">
                                                                <div class="mt-3 mr-sm-2">
                                                                    <input class="form-control" type="number" min="0" max="9999999999" maxlength="10" id="new_indi_coupon_id" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 109 && event.keyCode !== 107 && event.keyCode !== 187 && event.keyCode !== 190 && event.keyCode !== 110" style="ime-mode:disabled" onBlur="javascript: if (this.value!='0') {this.value=this.value.replace(/(^0*)/g, '')};" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row align-items-end">
                                                            <label for="new_indi_discount_rate" class="col-md-3 col-form-label">Discount Rate</label>
                                                            <div class="col-md-9">
                                                                <div class="mt-3 mr-sm-2">
                                                                    <input class="form-control" type="number" id="new_indi_discount_rate" min="0" max="1" step="0.01" maxlength="4" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 109 && event.keyCode !== 107 && event.keyCode !== 187" style="ime-mode:disabled" onBlur="javascript: if (this.value!=''){ if (this.value>1){this.value='1.00';} this.value=changeTwoDecimal_f(this.value);}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row align-items-end">
                                                            <label for="new_start_date" class="col-md-3 col-form-label">Start Date</label>
                                                            <div class="col-md-9">
                                                                <div class="mt-3 mr-sm-2">
                                                                    <input class="form-control" type="date"  id="new_start_date">
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="form-group row align-items-end">
                                                            <label for="new_end_date" class="col-md-3 col-form-label">End Date</label>
                                                            <div class="col-md-9">
                                                                <div class="mt-3 mr-sm-2">
                                                                    <input class="form-control" type="date"  id="new_end_date">
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="form-group row align-items-start">
                                                            <label for="new_license_id" class="col-md-3 col-form-label"><br />Customer Lic. ID</label>
                                                            <div class="col-md-9">
                                                                <div class="mt-3 mr-sm-2">
                                                                    <input class="form-control" type="text" id="new_license_id" maxlength="20" onKeyUp="value=value.replace(/[\W]/g,'').toUpperCase()">
                                                                    <ul class="list-group" id="new-license-list-box">

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        </form>
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" onclick="submitNewCoupon()">Submit</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>






                                            <!-- edit Class Modal -->
                                            <div class="modal fade" id="editcouponModal" tabindex="-1" role="dialog" aria-labelledby="editcouponModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="editcouponModalLabel">Edit Coupon</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="edit_modal_form">
                                                            <div class="form-group row align-items-end">
                                                                <label for="edit_indi_coupon_id" class="col-md-3 col-form-label">Indi Coupon ID</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-3 mr-sm-2">
                                                                        <input class="form-control" style="color: #3051d3" readonly type="number" min="0" max="9999999999" maxlength="10" id="edit_indi_coupon_id" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 109 && event.keyCode !== 107 && event.keyCode !== 187 && event.keyCode !== 190 && event.keyCode !== 110" style="ime-mode:disabled" onBlur="javascript: if (this.value!='0') {this.value=this.value.replace(/(^0*)/g, '')};" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row align-items-start">
                                                                <label for="edit_license_id" class="col-md-3 col-form-label"><br />Customer Lic. ID</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-3 mr-sm-2">
                                                                        <input class="form-control" style="color: #3051d3" readonly type="text" id="edit_license_id" maxlength="20" onKeyUp="value=value.replace(/[\W]/g,'').toUpperCase()">
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="form-group row align-items-end">
                                                                <label for="edit_indi_discount_rate" class="col-md-3 col-form-label">Discount Rate</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-3 mr-sm-2">
                                                                        <input class="form-control" type="number" id="edit_indi_discount_rate" min="0" max="1" step="0.01" maxlength="4" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 109 && event.keyCode !== 107 && event.keyCode !== 187" style="ime-mode:disabled" onBlur="javascript: if (this.value!=''){ if (this.value>1){this.value='1.00';} this.value=changeTwoDecimal_f(this.value);}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row align-items-end">
                                                                <label for="edit_start_date" class="col-md-3 col-form-label">Start Date</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-3 mr-sm-2">
                                                                        <input class="form-control" type="date"  id="edit_start_date">
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="form-group row align-items-end">
                                                                <label for="edit_end_date" class="col-md-3 col-form-label">End Date</label>
                                                                <div class="col-md-9">
                                                                    <div class="mt-3 mr-sm-2">
                                                                        <input class="form-control" type="date"  id="edit_end_date">
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            
                                                        </form>
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-success" onclick="reset_edit()">Reset</button>
                                                    <button type="button" class="btn btn-primary" onclick="submitEditCoupon()">Submit</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->

                        </div>
                        <!-- end container-fluid -->
                    </div> 
                    <!-- end page-content-wrapper -->
                </div>
                <!-- End Page-content -->

                
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/metisMenu.min.js"></script>
        <script src="../static/js/simplebar.min.js"></script>
        <script src="../static/js/waves.min.js"></script>

        <script src="../static/js/bundle.js"></script>

        <!-- Tour init js-->

        <script src="../static/js/moment.min.js"></script>

        <script src="../static/js/moment.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Datatable init js -->
        <script src="../static/js/datatables.init.js"></script>
        
        <!-- Required datatable js -->
        <script src="../static/js/jquery.dataTables.min.js"></script>
        <script src="../static/js/dataTables.bootstrap4.min.js"></script>
        
        <!-- Responsive examples -->
        <script src="../static/js/dataTables.responsive.min.js"></script>
        <script src="../static/js/responsive.bootstrap4.min.js"></script>

        <!-- Buttons examples -->
        <script src="../static/js/dataTables.buttons.min.js"></script>
        <script src="../static/js/buttons.bootstrap4.min.js"></script>
        <script src="../static/js/jszip.min.js"></script>
        <!-- <script src="https://themesdesign.in/xoric/layouts/blue/vertical/assets/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="https://themesdesign.in/xoric/layouts/blue/vertical/assets/libs/pdfmake/build/vfs_fonts.js"></script> -->
        <script src="../static/js/buttons.html5.min.js"></script>
        <script src="../static/js/buttons.print.min.js"></script>
        <script src="../static/js/buttons.colVis.min.js"></script>


        

        

        

        <script> 

        // old data of selected vehicle
        var old_indi_coupon_id;
        var old_indi_discount_rate;
        var old_start_date;
        var old_end_date;
        var old_license_id;

        var globalRow;
        

        var showFlag = 'all';

        $('#expired').on('click', function() {
                showFlag = 'expired';
                console.log(showFlag);
                // $('#couponTable').DataTable().ajax.reload();
                $('#couponTable').DataTable().draw();
                                    
        });

        $('#inactive').on('click', function() {
                showFlag = 'inactive';
                console.log(showFlag);
                // $('#couponTable').DataTable().ajax.reload();
                $('#couponTable').DataTable().draw();
                                    
        });

        $('#active').on('click', function() {
                showFlag = 'active';
                console.log(showFlag);
                // $('#couponTable').DataTable().ajax.reload();
                $('#couponTable').DataTable().draw();
                                    
        });
                                
                            
        $('#show').on('click', function() {
                showFlag = 'all';
                console.log(showFlag);
                // $('#couponTable').DataTable().ajax.reload();
                $('#couponTable').DataTable().draw();
                                    
        })
        

        

        
        


        // datatable button config
        var buttonConfig = [];
        buttonConfig.push({extend:'pageLength',className: 'btn btn-secondary'});
        buttonConfig.push({extend:'colvis', className: 'btn btn-secondary'});
        buttonConfig.push({ text: 'Add New Coupon', 
                            className: 'btn btn-primary', 
                            action: function () {
                                $('#addcouponModal').modal({
                                    show: true,
                                    focus: true,
                                    backdrop: 'static'
                                })
                            }
                        });	


        // class datatable
        $(document).ready(function() {  
                var couponDataTable = $('#couponTable').DataTable({
                            dom: 'Bfrtip',
                            // 'processing': true,
                            'serverSide': true,
                            'serverMethod': 'post',
                            'ajax': {
                                'url':'/indi_coupon_ajax',
                                'data': function(d){
                                    d.showFlag = showFlag;
                                }
                            },
                            'lengthMenu': [[10, 25, 50, 100], [10, 25, 50, 100]],
                            buttons: {
                                buttons: buttonConfig,
                                dom: {
                                    button: {
                                    className: ''
                                }
                                }
                            },
                            
                            searching: true,
                            sort: true,
                            "serverSide": true,
                            'columns': [
                                { name: 'indi_coupon_id', data: 'indi_coupon_id', "orderable": true },
                                { name: 'indi_discount_rate', data: 'indi_discount_rate', "orderable": true },
                                { name: 'start_date', data: 'start_date', "orderable": true },
                                { name: 'end_date', data: 'end_date', "orderable": true },
                                { name: 'license_id', data: 'license_id', "orderable": true },
                                { name: 'status', data: 'status', "orderable": false },
                                {
                                    "orderable": false, 
                                    defaultContent: '<div class="btn-group" role="group">'+
                                                        '<button id="edit" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit">'+
                                                            '<i class="mdi mdi-pencil"></i>'+
                                                        '</button>'+
                                                        '<button id="delete" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Delete">'+
                                                            '<i class="mdi mdi-trash-can"></i>'+
                                                        '</button>'+
                                                    '</div>'
                                }
                            ]
                        });


                        //click edit
                        $('#couponTable tbody').on( 'click', "#edit", function () {
                            var row = $(this).parents('tr');

                            globalRow = row;

                            var data = couponDataTable.row( row ).data();
                            
                            old_indi_coupon_id = data.indi_coupon_id;
                            old_indi_discount_rate = data.indi_discount_rate;
                            old_start_date = data.start_date.replace('/', '-').replace('/', '-');
                            old_end_date = data.end_date.replace('/', '-').replace('/', '-');
                            old_license_id = data.license_id;

                           


                            document.getElementById("edit_indi_coupon_id").value = old_indi_coupon_id;
                            document.getElementById("edit_indi_discount_rate").value = old_indi_discount_rate;
                            document.getElementById("edit_start_date").value = old_start_date;
                            document.getElementById("edit_end_date").value = old_end_date;
                            document.getElementById("edit_license_id").value = old_license_id;

                            
                            $('#editcouponModal').modal({
                                    show: true,
                                    focus: true,
                                    backdrop: 'static'
                                })
                        } );
                        
                        //click delete
                        $('#couponTable tbody').on( 'click', "#delete", function () {
                            var row = $(this).parents('tr');

                            var data = couponDataTable.row( row ).data();

                            if (confirm("Do you want to delete this coupon?")==false){
                                return false;
                            }

                            // ajax send data to backend
                            $.ajax({
                                url:"/delete_indi_coupon_request",
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                data: JSON.stringify({"indi_coupon_id":data.indi_coupon_id}),
                                success:function(data){
                                    if (data.status == "success"){
                                        alert(data.content);
                                        // delete the row in front end datatable
                                        couponDataTable
                                            .row(row)
                                            .remove()
                                            .draw();
                                        //window.location.reload();
                                    } else {
                                        alert(data.content);
                                    }
                                    
                                },
                                error:function(){
                                    alert("Delete error...")
                                }
                            });



                            
                            
                        } );
    
                    
            });

            


            // reset edit modal
            function reset_edit(){            
                document.getElementById("edit_indi_coupon_id").value = old_indi_coupon_id;
                document.getElementById("edit_indi_discount_rate").value = old_indi_discount_rate;
                document.getElementById("edit_start_date").value = old_start_date;
                document.getElementById("edit_end_date").value = old_end_date;
                document.getElementById("edit_license_id").value = old_license_id;
            }
   


        </script>


        <script>
            // submit edit coupon
            function submitEditCoupon(){

                //check indi_discount_rate
                var indi_discount_rate = document.getElementById("edit_indi_discount_rate").value;
                if (indi_discount_rate==""){
                    alert("Please enter individual discount rate!");
                    return false;
                }

                //check start_date
                var start_date = document.getElementById("edit_start_date").value;
                var end_date = document.getElementById("edit_end_date").value;
                if (start_date==""){
                    alert("Please choose start date!");
                    return false;
                } else if (end_date==""){
                    alert("Please choose end date!");
                    return false;
                } else if (start_date>=end_date){
                    alert("End date should be later than start date!");
                    return false;
                }



                if (indi_discount_rate==old_indi_discount_rate && start_date==old_start_date && end_date==old_end_date){
                        alert("Nothing is changed!");
                        return false;
                }


                if (confirm("Do you want to submit the change?")==false){
                    return false;
                }



                // ajax send data to backend
                $.ajax({
                    url:"/edit_indi_coupon_request",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({"indi_coupon_id":old_indi_coupon_id,"indi_discount_rate":indi_discount_rate, "start_date":start_date, "end_date": end_date}),
                    success:function(data){
                        if (data.status == "success"){
                            alert(data.content);
                            $('#editcouponModal').modal('hide');
                            // update front end datatable
                            var status;
                            if (moment()>end_date){
                                status = '<div class="badge badge-soft-danger">Expired</div>';
                            } else if (moment()<start_date){
                                status = '<div class="badge badge-soft-warning">Inactive</div>';
                            } else {
                                status = '<div class="badge badge-soft-success">Active</div>';
                            }

                            $('#couponTable').DataTable().cell(globalRow, 1).data(indi_discount_rate);
                            $('#couponTable').DataTable().cell(globalRow, 2).data(start_date);
                            $('#couponTable').DataTable().cell(globalRow, 3).data(end_date);
                            $('#couponTable').DataTable().cell(globalRow, 5).data(status);
                            //window.location.reload();
                        } else {
                            alert(data.content);
                        }
                        
                    },
                    error:function(){
                        alert("Submit error...")
                    }
                });

            }


        </script>


        <script>
            // reset new coupon modal
            $('#addcouponModal').on('hidden.bs.modal', function () {
                document.getElementById("add_modal_form").reset()
            })
        </script>

        <script>
            function timenow(){
            var d = new Date();
            var a = d.getFullYear() + "-";
            if (d.getMonth() + 1 >= 10 ){
                var c = (d.getMonth() + 1) + "-";
            }
            else{
                var c = "0" + (d.getMonth() + 1) + '-';
            }
            if (d.getDate() >= 10 ){
                    var n = d.getDate();
            }
            else{
                    var n = "0" + d.getDate();
            }
            }
            
        </script>


        <!-- license hint -->
        <script>
            var searchInp_v = document.querySelector('#new_license_id')
            var listBox_v = document.querySelector('#new-license-list-box')
            var timer_v = null;
            // enable when user input
            searchInp_v.oninput = function() {
                // clear last timer_v
                clearTimeout(timer_v);
                // get input
                var key = this.value;
                // if no input
                if (key.trim().length == 0) {
                    // hide ul
                    listBox_v.style.display = 'none';
                    return;
                }

                // set timer_v
                timer_v = setTimeout(function() {
                    $.ajax({
                        type: 'post',
                        url: '/new_license_hint',
                        data: JSON.stringify({"key":key}),
                        success: function(result) {
                            var dataOptions = '';
                            if (result.code==1){ //if the result is not empty
                                for(var i = 0; i < result.content.length; i++){
                                    dataOptions += '<li onclick="get_new_lic_li(this.innerHTML)" class="list-group-item" >';
                                    dataOptions += result.content[i].license_id + "</li>";
                                }
                                $("#new-license-list-box").html(dataOptions);
                                // show ul
                                listBox_v.style.display = 'block';
                            }
                            else{
                                //hide ul
                                listBox_v.style.display = 'none';
                            }
                            
                        }
                    })
                }, 800)

            }

        </script>

        <!-- get new lic in the <li> -->
        <script>
            function get_new_lic_li(key){
                var listBox = document.querySelector('#new-license-list-box')
                var vin = document.getElementById("new_license_id");
                vin.value = key;
                //hide ul
                listBox.style.display = 'none';
            }
        </script>


        <script>
            // submit new coupon
            function submitNewCoupon(){

                //check indi_coupon_id
                var indi_coupon_id = document.getElementById("new_indi_coupon_id").value;
                if (indi_coupon_id==""){
                    alert("Please enter individual coupon id!");
                    return false;
                }

                //check indi_discount_rate
                var indi_discount_rate = document.getElementById("new_indi_discount_rate").value;
                if (indi_discount_rate==""){
                    alert("Please enter indi discount rate!");
                    return false;
                }

                //check date
                var start_date = document.getElementById("new_start_date").value;
                var end_date = document.getElementById("new_end_date").value;
                if (start_date==""){
                    alert("Please choose start date!");
                    return false;
                } else if (end_date==""){
                    alert("Please choose end date!");
                    return false;
                } else if (start_date>=end_date){
                    alert("End date should be later than start date!");
                    return false;
                }

                var license_id = document.getElementById("new_license_id").value;
                if (license_id ==""){
                    alert("Please enter license_id!");
                    return false;
                }

                if (confirm("Do you want to submit this new coupon?")==false){
                    return false;
                }
      

 
                // ajax send data to backend
                $.ajax({
                    url:"/add_indi_coupon_request",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify({"indi_coupon_id":indi_coupon_id,
                                          "indi_discount_rate":indi_discount_rate, 
                                          "start_date":start_date, 
                                          "end_date": end_date, 
                                          "license_id":license_id
                                        }),
                    success:function(data){
                        if (data.status == "success"){
                            alert(data.content);
                            $('#addcouponModal').modal('hide');
                            window.location.reload();
                        } else {
                            alert(data.content);
                        }
                        
                    },
                    error:function(){
                        alert("Submit error...")
                    }
                });

            }
        </script>

        <script>
            function changeTwoDecimal_f(x) {
                var f_x = parseFloat(x);
                if (isNaN(f_x)) {
                    alert('function:changeTwoDecimal->parameter error');
                    return false;
                }
                var f_x = Math.round(x * 100) / 100;
                var s_x = f_x.toString();
                var pos_decimal = s_x.indexOf('.');
                if (pos_decimal < 0) {
                    pos_decimal = s_x.length;
                    s_x += '.';
                }
                while (s_x.length <= pos_decimal + 2) {
                    s_x += '0';
                }
                return s_x;
            }


        </script>

        <script src="../static/js/app.js"></script>



    </body>
</html>
